<div class="row">
  <div class="col-lg-12">
      <div class="row row-grid align-items-center">
          <div class="col-lg-4 col-sm-6 px-2" *ngFor="let attendee of attendees">
              <div class="card shadow shadow-lg--hover mt-3"  >
                  
                      <div >
                          <div class="d-flex px-1">
                              <div>
                                  <img src="./assets/img.jpg" alt="Raised image" class="img-fluid rounded m-1" style="height: 300px;" >
                                  <small class="text-muted font-weight-bold">{{attendee.attendeeName}} </small><br>
                                  <small class="text-muted"> {{attendee.attendeeJob}} </small><br>
                                  <small class="text-muted"> {{attendee.attendeeNationality}} </small><br>
                                  
                              </div>
                          </div>
                      </div>
                  
              </div>
          </div>
      </div>
  </div>
</div>