<div class="row">
  <div class="col-5">
    <img
      src="./assets/mallorca.jpeg"
      alt="c180"
      style="height: 500px; width: 500px"
    />
  </div>
  <div class="col-7">
    <form>
      <fieldset>
        <legend>Legend</legend>
        <div class="form-group">
          <label for="exampleSelect1" class="form-label mt-4">Car Model</label>
          <select class="form-select" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleSelect1" class="form-label mt-4">Country</label>
          <select class="form-select" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleSelect1" class="form-label mt-4"
            >Destination</label
          >
          <select class="form-select" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-light mt-4">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
