<!--
<ngb-carousel style="height: 300px;width: 300px;">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img.jpg" alt="Angular Carousel 1" style="height: 300px;width: 300px;">
      </div>
      <p style="background-color:rgb(255, 12, 12); width: 300px; ">Caption</p>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/c180.jpg" alt="Angular Carousel 2"  style="height: 300px;width: 300px;">
      </div>
      <p style="background-color:rgb(255, 12, 12); width: 300px; ">Caption</p>
    </ng-template>
  </ngb-carousel> -->


  
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <ngb-carousel style="height: 100%; width: 100%">
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img
                    src="assets/mallorca1.jpg"
                    alt="Angular Carousel 1"
                    style="height: 100%; width: 100%"
                  />
                </div>
                
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img
                    src="assets/c180.jpg"
                    alt="Angular Carousel 1"
                    style="height: 100%; width: 100%"
                  />
                </div> 
              </ng-template>
            </ngb-carousel>
          </div>
            <div ></div>
            <div class="col-md-6">
              <ul class="list-group">
                <li class="list-group-item">A180</li>
                <li class="list-group-item">Mallorca</li>
                <li class="list-group-item">Spain</li>
                <li class="list-group-item">22.01.22</li>
                <li class="list-group-item">400 Attendees</li>
                <li class="list-group-item">400 Attendees</li>
              </ul>
            </div>
          </div>
          <div style="margin-top: 20px;"></div>
          <div>
            <ngb-accordion [closeOthers]="true" activeIds="static-1">
              <ngb-panel id="static-1" title="Attendee List ">
                <ng-template ngbPanelContent>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Job</th>
                        <th scope="col">Nationality</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let attendee of attendees">
                        <th scope="row">{{attendee.attendeeId}}</th>
                        <td>{{attendee.attendeeName}}</td>
                        <td>{{attendee.attendeeJob}}</td>
                        <td>{{attendee.attendeeNationality}}</td>
                      </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
      </div> 
  </div>
  
